<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--/*  Multiple fragments may be defined in one file */-->
<div th:fragment="footer" class="container footer-text">
    <div class="navbar-fixed-bottom row-fluid">
        <div class="navbar-inner">
            <div class="container">
                <div class="row" style="background: white">
                    <div class="col-sm-6">
                        <p>Телефон для связи (8362) 41-68-58</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-text-banktitle">
                            <p>&copy; <a href="http://www.olabank.ru">
                                Банк "Йошкар-Ола" (ПАО)</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

