
b.noun { color: red; }
b.verb { color: blue; }
b.adj { color: green; }
b.part { color: purple; }
/* */
i.noun { color: red; }
i.verb { color: blue; }
i.adj { color: green; }
i.part { color: purple; }

.tabs {
	font-size: 0;
}

.tabs>input[type="radio"] {
	display: none;
}

.tabs>div {
	/* скрыть контент по умолчанию */
	display: none;
	border: 1px solid #e0e0e0;
	padding: 10px 15px;
	font-size: 16px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4,
#tab-btn-5:checked~#content-5,
#tab-btn-6:checked~#content-6,
#tab-btn-7:checked~#content-7,
#tab-btn-8:checked~#content-8,
#tab-btn-9:checked~#content-9,
#tab-btn-10:checked~#content-10,
#tab-btn-11:checked~#content-11,
#tab-btn-12:checked~#content-12,
#tab-btn-13:checked~#content-13,
#tab-btn-14:checked~#content-14,
#tab-btn-15:checked~#content-15,
#tab-btn-16:checked~#content-16,
#tab-btn-17:checked~#content-17,
#tab-btn-18:checked~#content-18,
#tab-btn-19:checked~#content-19,
#tab-btn-20:checked~#content-20,
#tab-btn-21:checked~#content-21,
#tab-btn-22:checked~#content-22,
#tab-btn-23:checked~#content-23,
#tab-btn-24:checked~#content-24,
#tab-btn-25:checked~#content-25,
#tab-btn-26:checked~#content-26,
#tab-btn-27:checked~#content-27,
#tab-btn-28:checked~#content-28,
#tab-btn-29:checked~#content-29,
#tab-btn-30:checked~#content-30,
#tab-btn-31:checked~#content-31,
#tab-btn-32:checked~#content-32,
#tab-btn-33:checked~#content-33{
	display: block;
}

.tabs>label {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: #f5f5f5;
	border: 1px solid #e0e0e0;
	padding: 2px 8px;
	font-size: 16px;
	line-height: 1.5;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	cursor: pointer;
	position: relative;
	top: 1px;
}

.tabs>label:not(:first-of-type) {
	border-left: none;
}

.tabs>input[type="radio"]:checked+label {
	background-color: #fff;
	border-bottom: 1px solid #fff;
}

body{
	font-family: "Courier New";
}

.odd{
	font-weight: bold;
	background-color: lightgray;
}

p{
	margin-block-start: 0em;
	margin-block-end: 0em;
}

b{
	color: red;
	font-weight: bold;
}

header{
}

td{
	color: black;
}

.first {
	font-weight: normal;
}

.second {
	font-weight: bold;
}

tr.error {
	background-color: red;
	color: white;
}

tr.info {
	background-color: gold;
	color: black;
}

thead {
	background-color: darkcyan;
	color: white;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.menu {
	background: #5381b8;
	border: 0;
	font-size: 16px;
}

.header-menu {
	 margin-top: 5px;
	 border-right: 2px solid #cc9933;
	 width: 150px;
}

.navbar-default .navbar-nav > li > a{
	color: #fff;
	text-transform: uppercase;
}
/*
.header-titletext-1 {
	font-size: 80px;
	text-transform: uppercase;
	color: #cc9933;
	text-align: left;
	margin-bottom: -25px;
	margin-top: -20px;
	margin-left: -30px;
}*/

.header-titletext-2 {
	font-size: 20px;
	margin-top: 40px;

}

.header-titleicon {
	text-align: right;
	margin-top: 10px;
}

.header-icon {
	max-width: 75%;
}

.start-infotext {
	color: #666666;
}
.callbutton {
	color: #002953;
	margin-top: 10px;
}

.cardrequestbutton {
	color: #9c0e0e;
	margin-top: 10px;
}

.offertitle {
	color: #002953;
	font-weight: bold;
	font-size: 15px;
}

.callrequestbutton {
	color: #ffffff;
	background-color: #9c0e0e;
}
.feedback-img {
	max-height: 300px;
}

.feedback-inputGroup {

}

.feedback-title-1 {
	color: #cc9933;
	text-transform: uppercase;
	font-size: 20px;
}

.feedback-title-2 {
	color: #666666;
	margin-bottom: 20px;
}
.footer-text-banktitle {
	text-align: right;
}


@media only screen and (max-width: 1200px) {
	.header-titletext-1 {
		margin-top: 0px;
		margin-top: -20px;
		margin-left: -10px;
	}
	.header-icon {
		max-width: 100%;
	}
}

@media only screen and (max-width: 992px) {
	.header-titletext-1 {
		font-size: 60px;
		margin-top: -5px;
		margin-bottom: 0px;
		margin-left: 30px;
	}
	.header-icon {
		max-width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	.header-menu {
		display: none;
	}

	.header-titleicon {
		/*display: none;*/
	}
	.header-icon {
		max-width: 100%;
	}

	/*.start-img {
		display: none;
	}*/

	.feedback-img {
		display: none;
	}
	.start-infotext {
		font-size: 14px;
	}

	.callbutton, .cardrequestbutton {
		font-size: 14px;
	}

	.footer-text {
		font-size: 14px;
	}

	.footer-text-banktitle {
		text-align: left;
	}

	.header-titletext-1 {
		font-size: 50px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
	}

	.header-titletext-2 {
		display: none;
	}

	.feedback-inputGroup {
		margin-top: 0px;
	}

	.feedback-title-1, .feedback-title-2 {
		display: none;
	}
}

 tr.error {
	 background-color: red;
	 color: white;
 }
tr.info {
	background-color: cyan;
	color: black;
}

@media only screen and (max-width: 480px) {

}
