<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title> |[[${title}]]| found [[${words.size()}]] </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <style>
    </style>
</head>
<body>
<div class="container">
    <a href="/"> BACK </a>
    <a th:each="chr : ${alphabet}" th:href="@{/dictionary/{id}(id=${chr})}">
        [[${chr.toUpperCase()}]]
    </a>
    <a href="/scan/dictionary">RESCAN</a>
    <hr/>
    <div class="row">
        <span th:each="word : ${words}">
            [[${word}]]
        </span>
    </div>
    <hr/>
</div>
</body>
</html>
