<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title> found [[${words.size()}]] </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <style>
    </style>
</head>
<body>
<div class="container">
    <a href="/"> BACK </a>

    <SPAN th:each="chr : ${alphabet}">
        <a th:href="@{/dictionary/{id}(id=${chr})}">[[${chr.toUpperCase()}]]</a>
    </SPAN>

    <hr/>
    <div class="row">
        <span th:each="word : ${words}"> [[${word}]] </span>
    </div>
    <hr/>
</div>
</body>
</html>
