<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title> found [[${files.size()}]] files words:[[${words}]] </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <style>
    </style>
</head>
<body>
<div class="container" align="left">
    <a href="/scan">RESCAN</a>
    <a href="/dictionary">DICTIONARY</a>
    <hr/>
    <div class="row">
        <table>
            <tr th:each="file : ${files}">
                <td align="right">[[${file.length()}]]</td>
                <td>|</td>
                <td>
                    <a th:href="@{/file/{id}(id=${file.getName()})}">
                        <i>[[${file.getName()}]]</i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <hr/>
</div>
</body>
</html>
