<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title th:text="${title}">COMBINER</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <style>
    </style>
</head>
<body>
<div class="container" align="left">
    <hr/>
    <div class="row">
        <table>
            <tr th:each="message : ${messages}">
                <td align="left"> [[${message[0]}]] </td>
                <td> | </td>
                <td class="first"><i>[(${message[1]})]</i></td>
            </tr>
        </table>
    </div>
    <hr/>
</div>
</body>
</html>
