<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title th:text="${title}">COMBINER</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleOld.css}">
    <style>
    </style>
</head>
<body>
<div class="container">
    <hr/>
    <a href="/"> BACK </a>
    <a href="/random"> RANDOM </a>
    <a href="/page"> PAGE </a>
    <div class="row">
        <table>
            <tr th:each="message,status : ${messages}">
                <td align="right"> [[${status.count}]] </td>
                <td>|</td>
                <td> [(${message})] </td>
            </tr>
        </table>
    </div>
    <hr/>
</div>
</body>
</html>
