<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title> [[${title}]] [[${set.size()}]]  </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <style>
    </style>
</head>
<body>
<div class="container">
    <a href="/"> BACK </a>
    <a th:each="chr : ${number}" th:href="@{/rhythm/{id}(id=${chr})}">
        [[${chr}]]
    </a>
    <hr/>
    <div class="row">
        <p th:each="words : ${set}">
            [(${words})]
        </p>
    </div>
    <hr/>
</div>
</body>
</html>
