<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title> [[${title}]] [[${set.size()}]] </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleOld.css}">
    <style>
        [(${style})]
    </style>
</head>
<body>
<div class="container">
    <a href="/"> BACK </a>
<!--    <a th:each="chr,status : ${alphabet}" th:href="@{/rhythm2/{id}(id=${chr})}">[[${chr}]]</a>-->
    <hr/>
        <span class="tabs" th:each="entry,status : ${set}">
                <input type="radio" name="tab-btn" th:id="${'tab-btn-'+status.count}" value="">
                <label th:for="${'tab-btn-'+status.count}"
                       th:class="${entry.getKey().length()==1}? 'odd'">
                    [[${entry.getKey()}]]
                </label>
                <div th:id="${'content-'+status.count}"> [[${entry.getValue()}]] </div>
        </span>
    <hr/>
</div>
</body>
</html>
