<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title> [[${title}]] [[${set.size()}]]  </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <style>
    </style>
</head>
<body>
<div class="container">
    <a href="/"> BACK </a>
    <a th:each="chr : ${number}" th:href="@{/rhythm/{id}(id=${chr})}">
        [[${chr}]]
    </a>
    <hr/>
    <table class="row" border="0">
        <tr th:each="entry : ${set}">
            <td align="right">[(${entry.getKey()})]</td>
            <td align="center">[(${entry.getValue()})]</td>
            <td >[(${entry.getKey()})]</td>
        </tr>
    </table>
    <hr/>
</div>
</body>
</html>
