<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title th:text="${title}">COMBINER</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleOld.css}">
    <style>
    </style>
</head>
<body>
<div class="container" align="left">
    <a href="/">BACK</a>
    <a th:href="@{/file/{id}(id=${file})}"> [[${file}]] </a>
    <hr/>
    <div class="row">
        <table>
            <tr th:each="sentence,status : ${sentences}">
                <td> [(${status.count})] </td>
                <td> | [(${sentence[1]})] </td>
                <td> | [(${sentence[0]})] </td>
            </tr>
        </table>
    </div>
    <hr/>
</div>
</body>
</html>
